h2 Créer un événement
form(method="post" action="/party").party
    div.party__fields
        label(for="name") Nom de l'événement
        input(name="name" id="name" type="text" required minlength="3" placeholder="Nouvel an")
        label(for="author") Nom de l'auteur
        input(name="author" id="author" type="text" required minlength="3" placeholder="John Doe")
        label(for="date") Date de l'évènement
        input(name="date" id="date" type="date")
    button(type="submit") Créer