doctype html
html(lang="fr")
    head
        title Application - #{title}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="Application - Qui prend quoi ?")
        meta(name="theme-color" content="#fff")
        link(rel="apple-touch-icon" href="/icon-192x192.png")
        link(rel="icon" type="image/png" href="/icon-72x72.png")
        link(rel="stylesheet" href="/style.css")
        link(rel="manifest" href="/manifest.json")
        script(src="/script.js" async)
        script.
          if (navigator.serviceWorker) {
            navigator.serviceWorker.register('/sw.js')
              .then(() => console.log('Service worker is registered'))
              .catch(error => console.warn(error.message));
          } else {
            console.log('Nothing to see here...');
          }
    body
