@mixin button-style {
  background-color: $primary--color;
  color: #fff;
  font-size: 14px;
  border-radius: 200px;
  border: 1px solid #33a57c;
  outline: none;
  cursor: pointer;
  text-align: center;

  &.disabled {
    opacity: .6;
    pointer-events: none;
  }
}
