.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
  width: 60%;
  margin: 16px 0;

  li {
    padding: 32px;
    background-color: #2f2c30;
    border-radius: 8px;
    transition: transform .2s ease-in-out;

    &:hover {
      transform: translateY(-4px);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__remove {
    button {
      margin: 6px 0;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__edit {
    div {
      display: flex;
      flex-direction: column;
      margin: 6px 0;

      label {
        margin: 4px 0;
        font-size: 16px;
      }

      input {
        height: 100%;
        padding: 8px 16px;
        @include input-style;
      }
    }

    button {
      margin: 6px 0;
      padding: 6px 12px;
      @include button-style;
    }
  }
}