//noinspection ALL

body {
  background-color: #282529;
  color: #fff;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-size: 21px;
  font-family: 'Helvetica Neue', sans-serif;

  h1 {
    font-size: 28px;
    margin-bottom: 16px;
  }

  h2 {
    margin-bottom: 16px;
  }

  .party {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__fields {
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        margin: 8px 0;
      }

      input {
        height: 100%;
        padding: 8px 16px;
        @include input-style;
      }
    }

    button {
      width: 100%;
      margin-top: 16px;
      padding: 6px 0;
      @include button-style;
      transition: transform .2s ease-in-out;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }
}

/*.party {
  &__fields {
    margin-bottom: 1em;

    @include medium {
      display: grid;
      grid-template-columns: 175px 1fr;
      grid-gap: 5px;
      max-width: 500px;
    }

    label {
      display: block;

      @include medium {
        place-self: center end;
      }
    }
  }
}*/
