.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-family: 'Helvetica Neue', sans-serif;

  &__event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    @media (max-width: 568px) {
      margin-top: 64px;
    }

    * {
      margin: 3px 0;
    }
  }

  &__share {
    margin: 16px;

    label {
      margin-right: 8px;
      font-size: 18px;
    }

    input {
      height: 100%;
      padding: 8px 16px;
      @include input-style;
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__delete {
    span {
      margin-right: 8px;
      font-size: 18px;
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__edit, &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 6px 0;

      label {
        margin-right: 8px;
        font-size: 18px;
      }

      input {
        height: 100%;
        padding: 8px 16px;
        @include input-style;
      }
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }
}