.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-family: 'Helvetica Neue', sans-serif;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #2f2c30;
    border-radius: 8px;

    @media (max-width: 349px) {
      border-radius: initial;
    }

    @media (max-width: 505px) {
      margin: 0 16px;
    }
  }

  &__event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    @media (max-width: 568px) {
      margin-top: 64px;
    }

    * {
      margin: 3px 0;
    }
  }

  &__share {
    margin: 16px;

    label {
      margin-right: 8px;
      font-size: 18px;
    }

    input {
      height: 100%;
      padding: 8px 16px;
      @include input-style;
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__delete {
    display: flex;
    justify-content: space-between;

    span {
      margin-right: 8px;
      font-size: 18px;
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__edit, &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px 0;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 6px 0;

      label {
        margin-right: 8px;
        font-size: 18px;
      }

      input {
        height: 100%;
        padding: 8px 16px;
        @include input-style;
      }
    }

    button {
      margin: 0 4px;
      padding: 6px 12px;
      @include button-style;
    }
  }

  &__edit {
    div:nth-child(3) {
      @media (max-width: 505px) {
        display: flex;
        flex-direction: column;
        margin: 16px 0;
      }
    }
  }

  &__back {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;

    span {
      margin-right: 8px;
      font-size: 18px;
    }

    a {
      padding: 6px 12px;
      text-decoration: none;
      @include button-style;
    }
  }
}